<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Hello Spring Boot</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<form class="form-inline" method="post" th:object="${previsao}" th:action="@{/previsoes}" style="margin: 20px 0">
		<div class="form-group">
		<input type="text" class="form-control" placeholder="Umidade" th:field="*{umidade}"/>
		<input type="text" class="form-control" placeholder="Dia da Semana" th:field="*{diaSemana}"/>
		<input type="text" class="form-control" placeholder="Descrição" th:field="*{descr}"/>
		<input type="text" class="form-control" placeholder="Temperatura Máxima" th:field="*{tempMax}"/>
		<input type="text" class="form-control" placeholder="Temperatura Mínima" th:field="*{tempMin}"/>
		<button type="submit" class="btn btn-primary">Adicionar</button>
		</div>
</form>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Previsoes</h1>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Umidade</th>
						<th>Dia da Semana</th>
						<th>Descricao</th>
						<th>Temperatura Máxima</th>
						<th>Temperatura Mínima</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="previsao : ${previsoes}">
						<td th:text="${previsao.umidade}"></td>
						<td th:text="${previsao.diaSemana}"></td>
						<td th:text="${previsao.descr}"></td>
						<td th:text="${previsao.tempMax}"></td>
						<td th:text="${previsao.tempMin}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>